#  (1) where are your processing libraries located? edit location. #### -->
processing:/home/somebody/projects/ProcessingStuff/libraries
#<!-- #### (2) where are the jar files located that are required for compiling
#		your library such as e.g. core.jar ? edit location. #### -->
libraryClasspath:/home/somebody/someplace/vendor/processing/build/linux/work/core/library
javaVersion:1.6
javaTarget:1.6
